@import url(root.css);
@import url(header.css);
@import url(companentens/btn.css);
@import url(companentens/icons.css);

@import url(companentens/font.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--font-size);
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

main{
    width: calc(100% - 200px);
    margin-left: 200px;
}

.padding{
    padding: 0 30px;
}

.grid{
    display: grid;
}

.grid-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.grid-2{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card{
    background-color: var(--bg-light-color);
    padding: 20px 30px;
    border-radius: 30px;
    margin: 0 0 30px 0;
}

.d-flex{
    display: flex;
}

.items-3-7 .card:first-child{
    width: 30%;
    margin-right: 30px;
}

.items-3-7 .card:last-child{
    width: 70%;
}

.items-6-4 .card:first-child{
    width: 60%;
    margin-right: 30px;
}
.items-6-4 .card:last-child{
    width: 40%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.line-bar{
    display: inline-block;
    width: 100%;
}

/* font */

/* search bar */
.search-bar{
    width: 400px;
    margin: 0 auto;
}

.search-bar-container{
    margin: 0 auto;
    width: calc(100% - 200px);
    height: 75px;
    display: flex;
    align-items: center;
}

.search-bar-box{
    width: 400px;
    margin: 0 auto;
    display: block;
    position: relative;
}

input{
    line-height: 1rem;
    font-size: var(--font-size);
    background-color: var(--primary-color);
    border: 0px;
    color: var(--secondary-color);
    padding: 6px 10px 6px 35px;
    font-weight: 600;
    border-radius: 10px;
    position: relative;
}

.search-bar-box::after{
    background-image: url(../image/search_icon.svg);
}

/* cards */
.chart-container .card{
    height: var(--chart-height);
}

.number-container .card{
    height: var(--number-height);
    display: flex;
}

.recent-container .card{
    height: var(--order-height);
}

/* number */

.number-container span{
    font-size: calc(var(--font-size) * 2.5);
    letter-spacing: 1px;
    display: block;
    margin: 0 0 1rem 0;
    line-height: 2.5rem;
}
.number-container span:last-child{
    font-size: calc(var(--font-size) * 1);
    line-height: 1rem;
    color: var(--white-color);
    display: block;
    margin: 0;
}

.number-container img{
    margin: 0 0 0 auto;
    max-height: 65px;
    height: 100%;
    max-width: 50px;;
    filter: var(--filter-white);
}

/* recent */

.recent-container .card:last-child{
    overflow: hidden;
}

.person-container{
    overflow: hidden;
}

.person-box{
    display: flex;
    height: 70px;
}

.person-box .person-img span{
    display: block;
    width: 50px;
    height: 50px;   
    border-radius: 50%;
    background-color: red;
    margin: 15px;
}

.person-box .person-content span{
    display: block;
    height: 20px;
    margin-top: 20px;
}
.person-box .person-content span:first-child{
    font-weight: 600;
}
.person-box .person-content span:last-child{
    margin-top: 5px;
}